.ScheduleOutfit h2{
    
    color: white ;
}

.ScheduleOutfit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ScheduleOutfit .AddOutfitButton {
    margin-top: 30px;   
    margin-bottom: 30px;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
}